/* cores
    Brand #E83A14
    Neutral muted #C4C4C4
    neutral #FFFFFF
    surface #1C1C1C
     */





header {
    border-bottom: 10px solid #E83A14;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;    
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#imagem-header {
    aspect-ratio: 4/4;
    width: 10%;
}

 header a {
    text-decoration: none; 
  }
  